html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
    background-color: #5d8b38;
}

body {
    margin-bottom: 60px;
    background-color: #90d858;
}

nav {
    background-color: #ac00ea;
    color: black;
}

    nav ul {
        background-color: #cc00ff;
    }

    nav a{
        color:black;
    }

footer {
    background-color: #cc00ff;
    color: black;
}

.btn-secondary {
    background-color: #cc00ff;
    border-color: #cc00ff;
    color: black;
}

.btn-secondary:focus {
    background-color: #ac00ea;
}
    
    
ul#backofdrop {
    background-color: #ee00ff;
}

a hover {
    background-color: #ac00ea
}